In [1]:
import pandas as pd

In [2]:
vds_spot = pd.read_csv('VDS_37_03_01_567003.txt', engine='python', header = None)
vds_spot.columns = ["집계일자", "집계시분", "VDS_ID", "차로유형구분코드", "교통량", "None"]
vds_spot = vds_spot.drop('None', axis=1)

In [3]:
#vds 기준 데이터
vds_std = pd.read_csv('ETC_79_04_01_983031.txt', engine = 'python')

In [4]:
vds_std.head()

,VDS_ID,지점이정,VDS존시작이정,VDS존종료이정,노선번호,VDS존유형구분코드,노선구성순번,기점종점방향구분코드,VDS존길이,도로등급구분코드,콘존ID
0,0010VDE00100,1.4,0.20,2.02,10,1,1.0,E,1820.0,101,0010CZE010
1,0010VDE00200,2.4,2.02,2.85,10,1,2.0,E,830.0,101,0010CZE011
2,0010VDE00300,3.3,2.85,4.01,10,1,3.0,E,1160.0,101,0010CZE011
3,0010VDE00400,4.5,4.01,5.08,10,1,4.0,E,1070.0,101,0010CZE020
4,0010VDE00500,5.1,5.08,5.58,10,1,5.0,E,620.0,101,0010CZE030

In [29]:
#vds 지점 데이터와 vds 기준 데이터 합치기
vds_spot_std = pd.merge(vds_spot,vds_std)

In [30]:
#콘존 데이터 불러오기
cz_data = pd.read_csv('ETC_78_04_01_275032.txt', engine = 'python')

In [31]:
#용인-양지 콘존 데이터 확인
cz_area_data = cz_data[cz_data.콘존명 == '용인IC-양지IC']
cz_area_data

,콘존ID,콘존길이,기점종점방향구분코드,시작노드ID,종료노드ID,차로수,노선번호,제한속도,노선구성순번,콘존명,버스전용차로유무,도로등급구분코드
846,0500CZE140,7960.0,E,0306,0307,3.0,0500,100.0,17.0,용인IC-양지IC,0,101

In [32]:
spot_std_area= vds_spot_std[vds_spot_std.콘존ID == '0500CZE140']
spot_std_area.head()

,집계일자,집계시분,VDS_ID,차로유형구분코드,교통량,지점이정,VDS존시작이정,VDS존종료이정,노선번호,VDS존유형구분코드,노선구성순번,기점종점방향구분코드,VDS존길이,도로등급구분코드,콘존ID
2562,20180105,0,0500VDE05250,1,0,60.4,NaN,NaN,500,4,NaN,E,0.0,101,0500CZE140
2563,20180105,1,0500VDE05250,1,0,60.4,NaN,NaN,500,4,NaN,E,0.0,101,0500CZE140
2564,20180105,4,0500VDE05250,1,0,60.4,NaN,NaN,500,4,NaN,E,0.0,101,0500CZE140
2565,20180105,6,0500VDE05250,1,0,60.4,NaN,NaN,500,4,NaN,E,0.0,101,0500CZE140
2566,20180105,2,0500VDE05250,1,0,60.4,NaN,NaN,500,4,NaN,E,0.0,101,0500CZE140

In [33]:
#1시간 단위, 구간교통량 vds데이터 불러오기
vds_section = pd.read_csv('VDS_38_03_01_457869.txt', engine='python',header=None)
vds_section.columns = ["집계일자", "집계시분", "콘존ID", "차로유형구분코드", "교통량", "None"]
vds_section = vds_section.drop('None', axis=1)
vds_section.head()

       집계일자  집계시분        콘존ID  차로유형구분코드  교통량
0  20180105     0  0010CZE010         1  300
1  20180105     0  0010CZE011         1  330
2  20180105     0  0010CZE020         1  304
3  20180105     0  0010CZE030         1  340
4  20180105     0  0010CZE035         1  344

In [34]:
#vds 구간 교통량과 cz데이터 합치기
vds_sec_cz = pd.merge(vds_section, cz_data)

In [35]:
#대상 구간 vds 구간 교통량 확인 
sec_cz_area = vds_sec_cz[vds_sec_cz.콘존ID == '0500CZE140' ]

In [36]:
sec_cz_area.head()

,집계일자,집계시분,콘존ID,차로유형구분코드,교통량,콘존길이,기점종점방향구분코드,시작노드ID,종료노드ID,차로수,노선번호,제한속도,노선구성순번,콘존명,버스전용차로유무,도로등급구분코드
17500,20180105,0,0500CZE140,1,648,7960.0,E,0306,0307,3.0,0500,100.0,17.0,용인IC-양지IC,0,101
17501,20180105,1,0500CZE140,1,512,7960.0,E,0306,0307,3.0,0500,100.0,17.0,용인IC-양지IC,0,101
17502,20180105,2,0500CZE140,1,399,7960.0,E,0306,0307,3.0,0500,100.0,17.0,용인IC-양지IC,0,101
17503,20180105,3,0500CZE140,1,506,7960.0,E,0306,0307,3.0,0500,100.0,17.0,용인IC-양지IC,0,101
17504,20180105,4,0500CZE140,1,705,7960.0,E,0306,0307,3.0,0500,100.0,17.0,용인IC-양지IC,0,101

In [37]:
writer = pd.ExcelWriter('vds_data.xlsx')
vds_spot.to_excel(writer, 'vds_spot')
vds_std.to_excel(writer, 'vds_std')
vds_spot_std.to_excel(writer, 'vds_spot_std')
spot_std_area.to_excel(writer, 'area_vds_spot')
vds_section.to_excel(writer, 'area_vds_section')
writer.save()